 :root {
     --universal-margin: .25rem;
     --universal-padding: .5rem;
     --back-color: #f0f0f0;
 }

 .card.small {
     margin-bottom: 18px;
 }

 .card.small h3 {
     margin-bottom: -6px;
 }

 .card.small h1 {
     margin-bottom: 4px;
 }

 button {
    font-size: calc(1rem * var(--heading-ratio) );
 }